@use './var' as *;
button {
  min-width: 30px;
  min-height: 30px;
  padding: 0 1rem;
  background: $bgdark;
  color: #fff;
  border-radius: 15px;
  border: none;
  cursor: pointer;
  &hover {
    border: none;
  }
  &:focus {
    outline: none;
    outline-offset: -4px;
  }
}
.loadmore {
  width: 100%;
  button {
    width: 100%;
    padding: 1rem;
  }
}
.btn-list {
  text-align: center;
  .selesai {
    padding: 1rem;
  }
}
