@use './var' as *;
.input_section {
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  * {
    color: #fff;
  }
  button {
    background: rgb(255, 255, 255, 0.5);
    font-weight: bold;
    text-transform: uppercase;
    &:hover{
      background:rgb(255, 255, 255, 0.2) ;
    }
  }
  .form-container {
    width: fit-content;
    height: fit-content;
    margin: auto;
    background: $bgdark;
    padding: 15px;
    border-radius: 15px;
    line-height: 2rem;
  }
}
