@use './var' as *;
.input_section{
  position: fixed;
  top: 0;
  right: 0;
  width:100vw;
  height: 100vh;
    display: flex;
  justify-content: center;
  align-items: center;
  .form-container{
    width: fit-content;
    height: fit-content;
    margin:auto;
    background: $bgdark;
    padding:15px;
    border-radius:15px;
    color:#fff ;
    line-height: 2rem;
  }
}
