@use './var' as *;
.info,.info-list {
  background: #5050ff3d;
  border-radius: 15px;
}
.info {
  padding: 2rem;
  text-align: center;
  font-weight: bold;
  button {
    margin-left: 15px;
  }
  span{
    color:$text;
  }
}

.info-list {
  padding:1rem;
  width:70%;
}
