@use './var' as *;
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color:$bgdark;
}

body, input, button {
    font-family: 'Open Sans', sans-serif;
}

input, button {
    font-size: 16px;
}
ul,li {
  list-style-type: none;
}
